@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fbfbfb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}



